html {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-family;
    background-color: $green-200;
    overflow-x: hidden;
    padding: rem(32) rem(16);
    min-height: 100vh;

    @include breakpoint("md") {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}